<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Lista de reservas abiertas
    </ion-title>
    <ion-buttons end>
      <button ion-button color="danger" (click)="logout()">Cerrar sesión</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>   

<ion-content >


    <ion-list *ngFor="let r of res | async">
        <ion-list *ngFor="let a of almacen">
            <button *ngIf="r.nombre == a" ion-button (click)="verReserva(r)">{{a}}</button>
        </ion-list>
    </ion-list>

</ion-content>

