<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Estadisticas
    </ion-title>
    
    <ion-buttons end>
      <button ion-button color="danger" (click)="logout()">Cerrar sesión</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>   

<ion-content >

<h2>Más usado</h2>
        <ion-item>
            <ion-label>La hora más usada es:  </ion-label>
            <ion-input type="text" readonly="readonly" value="{{hor}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>La pista más usada es:  </ion-label>
            <ion-input type="text" readonly="readonly" value="{{pist}}"></ion-input>
        </ion-item>

<br>
<h2>Nº de veces reservada cada pista</h2>
  <ion-list *ngFor="let pi of pistas">
      <ion-item>
          <ion-label text-wrap>{{pi.clave}} :  </ion-label>
          <ion-input type="text" readonly="readonly" value="{{pi.valor}}"></ion-input>
      </ion-item>
  </ion-list>

<br>
<h2>Nº de reservas en cada hora</h2>
  <ion-list *ngFor="let h of horas">
      <ion-item>
          <ion-label text-wrap>{{h.clave}}:00  : </ion-label>
          <ion-input type="text" readonly="readonly" value="{{h.valor}}"></ion-input>
      </ion-item>
  </ion-list>
  <br>


</ion-content>

