<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Gestión de reservas
    </ion-title>
    
    <ion-buttons end>
      <button ion-button color="danger" (click)="logout()">Cerrar sesión</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>   

<ion-content >

<div class="div">
      <div class="fecha">
        
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-label>Fecha: </ion-label>
            </ion-col>
            <ion-col col-2 padding>
              <div style="border:1px solid" text-center>
              <ion-datetime id="b" class="b"
                displayFormat="DD/MM/YYYY"
                pikerFormat="YYY  DD MM"
                [(ngModel)]="fecha"
                cancelText="Cancelar"
                doneText="OK"
                min={{minFecha}}
                max={{maxFecha}}
                >            
              </ion-datetime>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>     
  </div>

    <ion-list *ngFor="let r of reservas | async">
      
        <button *ngIf=" r.dia == fecha" ion-button (click)="verReserva(r, r.$key)">{{r.nombre}}</button>
     
    </ion-list>
</ion-content>

